# Node modules
node_modules/

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# Vite cache
.vite

# VS Code
.vscode/

# TypeScript
*.tsbuildinfo

# Misc
*.log
coverage/

# IDEs
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
